{# https://sioyek-documentation.readthedocs.io/en/latest/configuration.html #}
{# https://github.com/ahrm/sioyek/blob/eae0430e9ff4a164c6718ba9db7c026ec469f012/pdf_viewer/prefs.config #}


{# External search #}
{# https://sioyek-documentation.readthedocs.io/en/latest/usage.html#external-search #}
{# this looks like a nifty feature #}
{# it comes with support for Google Scholar, ss, and Library Genesis, sl #}
{# let's add Crossref metadata search! #}
{# Select a piece of text and press sc to search Crossref #}
{# this almost works - it prefills the search box, but does not actually perform
the search (requires an additional Enter keypress). Weird. #}
{# search_url_c      https://search.crossref.org/?q= #}
{# Ok, figured it out, crossref requires the var from_ui=yes to be included,
now the search is immediately executed #}
{# There's one more problem though: question marks in the selected text are
interpreted as URL argument separators causing the search string to be truncated
not sure how to surround selected text with quote marks, as it was #}
{# https://sioyek-documentation.readthedocs.io/en/latest/scripting.html#input-parameters #}
{# search_url_c      https://search.crossref.org/?from_ui=yes&q="%{selected_text}"
nope, that did not work at all, with or without quoutes #}
search_url_c https://search.crossref.org/?from_ui=yes&q=


{# Multiple monitors #}
{# Remeber you can open a helper window (portal) by pressing F12, then "p" to link #}
{# https://sioyek-documentation.readthedocs.io/en/latest/configuration.html#should-use-multiple-monitors #}
{% if inventory_hostname == "asks2" %}
{# should_use_multiple_monitors  1
start_with_helper_window 1 #}
{# the above alone was not enough (did not do anything) #}
{# helper_window_size 800 600
helper_window_move 100 100 #}
{# neither did the above. Is it because of i3? Not sure. #}
{% endif %}


{# Shared database path #}
{# shared_database_path {{ ansible_env.HOME }}/.local/share/Sioyek/shared.db #}
{# This setting could be useful to sync ~/.local/share/Sioyek/shared.db across
our workstations. Or we could sync the file using totalsync.sh
Doing neither for now #}


{# Disable check for updates on startup #}
{# Sioyek default is 0. #}
check_for_updates_on_startup 0


{# Startup commands #}
{# Semicolon-separated list of commands to execute on startup.
The command names are the same as the ones displayed when opening
the command window using : #}
{# Not using any for now #}


{# Presentation mode #}
{# When in presentation mode, we pre-render the next page to remove flickering
when moving between pages. Sioyek default is 1. #}
prerender_next_page_presentation 1
