[Desktop Entry]
Type=Application
Name=Sioyek PDF viewer
Comment=PDF viewer for research and technical PDFs
{# --new-instance has been deprecated, replaced by --new-window #}
{# https://github.com/ahrm/sioyek/commit/1c2db5caf0f2ddbd7bb9a49524f97fe71cce3a99 #}
Exec={{ sioyek.repo }}/build/sioyek --new-window
Terminal=false
Keywords=pdf;document;viewer;reader;
Categories=GNOME;GTK;Office;Viewer;Graphics;2DGraphics;VectorGraphics;
MimeType={% for type in sioyek_mimetypes %}{{ type + ';' }}{% endfor %}
Version=1.1
